<span class="mastwall mw5" style="background-color:cornflowerblue;">
</span>
<div class="dheader">
    <a class="logo" href="/"></a>


    <div class="acontainer">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class=" text-center z2">
                    <div class="card">
                        <h2>Usuario: {{user.username}}</h2>
                        <h4>
                            ADMINISTRACIÓN DE PEDIDOS.
                            </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ctables"></div>

    <div  class="dmenu">
        <a href="add" class="doption"> Agregar un plato</a>
        <a href="profile" class="doption">Platos</a>
        <a href="admin" class="doption">Volver</a>
     
    </div>
</div>
<div class="ccenter ">
    <div class="cmenu c3">
        <p class="ainfo" style="color: black;">Pedidos Cerrados</p>

    </div>
</div>


<div class="x1">
    <div class="ccenter bcontainer">
        {{#each history}}
        <div class="cmenu z8 f1 d1">
            <div class="cgroup d4">
                <div class="cinfo d3">
                    <h5 class="m-2"><b>{{estado}}</b> {{orders}} </h5>
                    <h5 class="m-2 d3">{{resume}}</h4>
                        <h6 class="m-2">${{suma}}</h6>
                </div>
            </div>
            <div class="d2">
                
                    <input class="dnone" type="text" name="menu" value="{{id_menu}}">


                    <form action='/delilahresto/comeback' method="POST">
                        <input class="dnone" type="text" name="suma" value="{{suma}}">
                        <input class="dnone" type="text" name="orders" value="{{orders}}">
                        <input class="dnone" type="text" name="user_id" value="{{user_id}}">
                        <input class="dnone" type="text" name="pay" value="{{pay}}">
                        <input class="dnone" type="text" name="resume" value="{{resume}}">
                        <input class="dnone" type="text" name="estado" value="{{estado}}">
                        <input class="dnone" type="text" name="id_menu" value="{{id_menu}}">
                        

                        <button class="add del2 ret" id="dbtn" type="submit"></button>
                    </form>





            </div>
        </div>
















        {{/each}}
    </div>
</div>


<link rel="stylesheet" href="../css/styles.css">
<script src="../Interactive/menu.js"></script>